/* Tweet CSS */
.tweet {
    width:40%;
    border:1px solid #d3d3d3;
    border-radius: 4px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    padding:20px;
    text-align:left;
}

.tweet .date {
    opacity:.3;
    font-size:.8em;
}

.tweet .likes {
    border-top:1px solid #d3d3d3;
    opacity:.3;
    cursor: pointer;
}